 body{
	background-repeat: no-repeat;
	height:100%;
	width:90%;
	background-size: cover;
	background-color: white;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url('images/shu.jpeg');
	}
	
h1{
	color: white;
	font-size: 60px;
	text-align: left;
	padding-left: 30%;
	font-family: Arial, Helvetica, sans-serif ;
}

form{
	margin: 50px auto;
	width: 600px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif ;
}

div{
	margin-top: 25px;
}

label{
	display: inline-block ;
	width: 120px;
	text-align: right;
	color: white;
	font-size: 20px;
	padding-left: 20px;
}

input, textarea{
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 20px;
	background: rgba(189,189,189,0.3);
	width: 400px;
	color: white;
	vertical-align: top;
}

.auto-style1{
	text-decoration: none;
	border: thin navy hidden ;
	background: #FF0000 ;
	color: red  ;
	font-weight: 100 ;
	padding: 5px;
    display: inline-block ;
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 20px;
    text-align: center ;
	
}

.sidenav{
	background-image: url('images/sideNav.jpg');
	background-repeat: no-repeat;
	display: none;
	height:100%;
	width: 250px;
	position: fixed ;
	z-index:1;
	top: 0;
	left: 0;
	 background-color: #074778  ;
	 overflow-x: hidden ;
	 padding-top: 60px;
}

span{
	color: white;
}

.sidenav a{
	padding: 30px 20px 6px 32px;
	text-decoration:none ;
	font-size: 25px;
	color: gray ;
	display: block ;
}

.sidenav a:hover{
	color: black;
	font-style: oblique ;
	
}

.sidenav .closebtn{
	position: absolute ;
	color:black ;
	top: 0;
	right: 25px;
	font-size: 40px;
	margin-top: 30px;
}

img{
	width: 55%;
	height: 15%;
	padding-top:70%;
	padding-left:15%;

}