 body{
	background-repeat: no-repeat;
	height:90%;
	width:92%;
	background-size: 100% 140%;
	background-color: white;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url('images/mystory.jpg');
}

.hero-text h1{

	font-family: Bahnschrift;
	text-decoration: inherit;
	font-size:30px;
	text-align:left;
	position: fixed;
	left:200px;
	color: #C0C0C0 ;
	margin-top:0px;
	padding-top: 0px;
}

.hero-text img{
	
	text-align:left;
	padding-left:250px;
	padding-top:80px;
	height: 300px;
	width:300px;
}

.hero-text p{
	text-align: left;
	padding-left: 200px;
	font-size:20px;
	font-family: "Bahnschrift Light";
	color:#808080;
}

.sidenav{
	background-image: url('images/sideNav.jpg');
	background-repeat: no-repeat;
	display: none;
	height:100%;
	width: 250px;
	position: fixed ;
	z-index:1;
	top: 0;
	left: 0;
	 background-color: #074778  ;
	 overflow-x: hidden ;
	 padding-top: 60px;
}

span{
	color: white;
}

.sidenav a{
	padding: 30px 20px 6px 32px;
	text-decoration:none ;
	font-size: 25px;
	color: gray ;
	display: block ;
}

.sidenav a:hover{
	color: black;
	font-style: oblique ;
	
}

.sidenav .closebtn{
	position: absolute ;
	color:black ;
	top: 0;
	right: 25px;
	font-size: 40px;
	margin-top: 30px;
}

img{
	width: 55%;
	height: 15%;
	padding-top:70%;
	padding-left:15%;

}