*{	
	box-sizing: border-box;
}

body{
	background-color: fuchsia ;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif ;
}
h3{
	font-size: 30px;
}

.main{
	max-width: 1500px;
	margin: auto;
}

h1{
	font-size:50px;
}

.row{
	margin: 8px-16px;
}

.column{
	float: left ;
	width: 50%;
}
/* .row:after{
	
} */

.content{
	background-color:white ;
	padding: 15px;
}

@media screen and (max-width:900px) {
	.column{
	width: 50%;}
}
@media screen and (max-width:600px){
	.column{
	width: 100%;}
}

.sidenav{
	background-image: url('images/sideNav.jpg');
	background-repeat: no-repeat;
	display: none;
	height:100%;
	width: 250px;
	position: fixed ;
	z-index:1;
	top: 0;
	left: 0;
	 background-color: #074778  ;
	 overflow-x: hidden ;
	 padding-top: 60px;
}

span{
	color: white;
}

.sidenav a{
	padding: 30px 20px 6px 32px;
	text-decoration:none ;
	font-size: 25px;
	color: gray ;
	display: block ;
}

.sidenav a:hover{
	color: black;
	font-style: oblique ;
	
}

.sidenav .closebtn{
	position: absolute ;
	color:black ;
	top: 0;
	right: 25px;
	font-size: 40px;
	margin-top: 30px;
}

img{
	width: 55%;
	height: 15%;
	padding-top:70%;
	padding-left:15%;

}

